

body {
        background: linear-gradient(300deg,  #fffffd, #a6babd, #333e4d);
        background-size: 180% 180%;
        animation: gradient-animation 18s ease infinite;
    }

    .text-body-emphasis{
        color: #fffcfc!important;
    }
    .col-lg-8{
        color: #fffcfc!important;
    }

    .d-inline-flex {
            background-image: linear-gradient(to right,  #333e4d 0%,  #333e4d  51%,#a6babd);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }